md-toolbar {
	background-color: #ff5050;
}

.container {
	padding: 2em 1em;
}

.capitalize {
	text-transform: capitalize;
}

form, .poke-card {
	max-width: 400px;
}

form {
	margin: 0 auto;
}

.poke-card {
	padding: 1em;
	margin: 1em auto;
	opacity: 1;
}

/*.animate-show {
  opacity: 1;
  transform: translateY(0);
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
}

.animate-show.ng-hide {
  opacity: 0;
  transform: translateY(25px);
}*/

.poke-icon {
	width: 24px;
	height: 24px;
	background: url('../img/icon.svg') no-repeat center center;
	background-size: 100%;
	opacity: 0.87;
}

.loading {
	width: 20em;
	height: 20em;
	margin: 0 auto;
	background: url('../img/charmload.gif') no-repeat center center;
	background-size: 100%;
}

.stats {
	margin-top: 1em;
}

.md-headline, .md-subhead {
	display: block;
}